<!DOCTYPE html> 

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comic shop</title>
  <link rel="shortcut icon" href="/resources/images/logo3.png" type="image/x-icon">   
</head>

<html xmlns:th="https://www.thymeleaf.org" 
    th:replace="~{fragments/layout :: layout (~{::body},'proforma')}">

<head>
  <title>Producto</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css} " />
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>

  <body style="background-color:#147DD7;">

  <div class="container">
    <div class="row">
      <div class="col-lg-10 mt-5 mb-5">
        <h2 style="color: white">Carrito</h2><br/>
        <h2>Carrito</h2><br/>
        <a href="/pago/create" class="btn btn-primary">Pagar</a>
        <table id="example" class="table table-bordered table-responsive" style="width: 100%">
          <thead>
            <tr>
              <th style="color: yellow;">Id</th>
              <th style="color: yellow;" >Nombre</th>
              <th style="color: yellow;" >Pais</th>
              <th style="color: yellow;" >Precio</th>
              <th style="color: yellow;">Descripcion</th>
              <th style="color: yellow;" >Cantidad</th>
              <th>#</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="proforma : ${proformas}">
              <td style="color: yellowgreen;" th:text="${proforma.product.id}"></td>
              <td style="color: yellowgreen;"  th:text="${proforma.product.nombre}"></td>
              <td style="color: yellowgreen;"  th:text="${proforma.product.pais}"></td>
              <td style="color: yellowgreen;"  th:text="${proforma.precio}"></td>
              <td style="color: yellowgreen;"  th:text="${proforma.product.descripcion}"></td>
              <td>
                <input type="number" class="form-control" id="cantidad" 
                  autocomplete="off" th:value="${proforma.cantidad}"
                  min="1" max="100"/>
              </td>
              <td>
                <a href="#" class="btn btn-primary">Update</a>
              </td>              
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-danger">Limpiar carrito</button>
      </div>
    </div>
  </div>


</body>

</html>