<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" 
    th:replace="~{fragments/layout :: layout (~{::body},'client')}">

<body>
 
    <div class="container">

        <div class="row">
          <div class="col-sm-10 mt-5">
            <div class="form-group row">
              <h1 style="color: aquamarine;">Cliente</h1>
            </div>
            <form th:object="${client}" th:action="@{/cliente/create}" method="post">
              <div class="form-group row">
                <div class="col-sm-2">
                  <label for="firstName" style="color: yellow;">Nombre</label>
                </div>
                <div class="col-sm-2">
                  <input type="text" th:field="*{firstName}"  class="input1"/>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2">
                  <label for="lastName" style="color: yellow;">Apellido</label>
                </div>
                <div class="col-sm-2">
                  <input type="text" th:field="*{lastName}" class="input1" />
                </div>
              </div>              
              <div class="form-group row">
                <div class="col-sm-2">
                  <label for="email" style="color: yellow;">Email</label>
                </div>
                <div class="col-sm-2">
                  <input type="text" data-inputmask="'alias': 'email'"
                  autocomplete="off" th:field="*{email}" class="input1" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2">
                  <label for="phone" style="color: yellow;">Celular</label>
                </div>
                <div class="col-sm-2">
                  <input type="text" data-inputmask="'mask': '(999) 999-9999'" th:field="*{phone}" class="input1" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2">
                  <label for="birthdate" style="color: yellow;">Fecha de nacimiento</label>
                </div>
                <div class="col-sm-3">
                  <div class="input-group date">
                    <input type="text" class="input1"  id="birthdate" 
                      data-inputmask="'alias': 'datetime', 'inputFormat': 'dd/mm/yyyy'" 
                      autocomplete="off" th:field="*{birthdate}" />
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2">
                  <label for="maritalStatus" style="color: yellow";>Estado Civil</label>
                </div>
                <div class="col-sm-2">
                  <select id="maritalStatus" placeholder="MaritalStatus" autocomplete="off" class="input1" 
                    th:field="*{maritalStatus}">
                    <option value="-">None</option>
                    <option value="Solter@">Solter@</option>
                    <option value="Casad@">Casad@</option>
                    <option value="Divorciad@">Divorciad@</option>
                    <option value="Viud@">Viud@</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="genderM" name="genderM" class="input1" value="Male"
                      th:field="*{gender}">
                    <label class="custom-control-label" for="genderM" style="color: yellow">Hombre</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="genderF" name="genderF" class="input1" value="Female"
                      th:field="*{gender}">
                    <label class="custom-control-label" for="genderF" style="color: yellow">Mujer</label>
                  </div>
                </div>
              </div>              
              <div class="form-group row">
                <div class="col-sm-2">
                  <label for="user.userID" style="color: yellow">Usuario</label>
                </div>
                <div class="col-sm-2">
                  <input type="text" th:field="*{user.userID}" class="input1" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-2">
                  <label for="user.password" style="color: yellow">Contraseña</label>
                </div>
                <div class="col-sm-2">
                  <input type="password" th:field="*{user.password}" class="input1" />
                </div>
              </div>              
              <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                  <button th:with="text='Registrar'" class="btn btn-primary" type="submit" th:text="${text}"/>
                </div>
              </div>
            </form>
            <p th:text="${mensaje}" style="color: blanchedalmond;"/>
          </div>
        </div>
      </div>
    
      <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
      <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
      <script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
      <script th:src="@{/webjars/jquery.inputmask/jquery.inputmask.min.js}"></script>    
  
      <script>
        $('.input-group.date').datepicker({
          autoclose: true,
          todayHighlight: true
        });
      </script>
      <script>
        $(":input").inputmask();
      </script>
</body>

</html>