<!DOCTYPE html>  

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comic shop</title>
  <link rel="shortcut icon" href="/resources/images/logo3.png" type="image/x-icon">   
</head>ad>

<html xmlns:th="https://www.thymeleaf.org" 

th:replace="~{fragments/layout :: layout (~{::body},'producto')}">

<head>
  <title>Producto</title>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css} " />
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>

  <body style="background-color:#147DD7;">

  <div class="container">
    <div class="row">
      <div class="col-lg-10 mt-5 mb-5">
        <h2>Productos</h2><br/>
        <a href="/producto/create">Crear</a>
        <table id="example" class="table table-bordered table-responsive" style="width: 100%">
          <thead>
            <tr>
              <th>#</th>
              <th style="color: bisque;">Nombre</th>
              <th style="color: bisque;" >Pais</th>
              <th style="color: bisque;" >Precio</th>
              <th style="color: bisque;">Descripcion</th>
              <th style="color: bisque;" >Imagen</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="producto : ${productos}">
              <td>
                <a th:href="@{'/producto/edit/__${producto.id}__'}"
                class="btn btn-info" role="button">Editar</a>
              </td>
              <td th:text="${producto.nombre}"></td>
              <td th:text="${producto.pais}"></td>
              <td th:text="${producto.precio}"></td>
              <td th:text="${producto.descripcion}"></td>
              <td th:text="${producto.imageFileName}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</body>

</html>